.main__people {
  margin-right: auto;
}

@media screen and (min-width: 325px){
  .main__people {
    height: 100%;
    margin-left: 20px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){

}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1600px){

}